* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.hero{
    color: rgb(0, 255, 234);
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url('images/it123.jpg');

}

.project{
    margin-top: 25px;
    overflow: hidden;
    width: 100%;
    margin-left: 15px;
}

.project-it{
    float: left;
    background: radial-gradient(circle, rgba(180,58,122,1) 0%, rgba(15,12,204,0.5019257703081232) 50%, rgba(252,176,69,1) 100%);
    width: 24%;
    height: 200px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgb(2, 3, 1);
    text-align: center;
}
