* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    color: rgb(0, 255, 234);
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url('images/it123.jpg');

}

.project{
    margin-top: 25px;
    overflow: hidden;
    width: 100%;
    margin-left: 15px;
}

.project-it{
    float: left;
    background-image: url(images/pic1.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 24%;
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgb(2, 3, 1);
    /* text-align: center; */
    color: #F85606;
    border-radius: 5px;
}

.project-it2{
    float: left;
    background-image: url(images/Keyboard.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 24%;
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    /* text-align: center; */
    color: #F85606;
    text-align: right;
    border-radius: 5px;

}

.project-it3{
    float: left;
    background-image: url(images/pic3.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 24%;
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project-it4{
    float: left;
    background-image: url(images/pic2.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 24%;
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #F85606;
    text-align: left;
    border-radius: 5px;
}

.project-it5{
    float: left;
    background-image: url(images/pic5.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 24%;
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgb(2, 3, 1);
    text-align: center;
    border-radius: 5px;
}

.project-it6{
    float: left;
    background-image: url(images/pic1.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 24%;
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #F85606;
    text-align: left;
    border-radius: 5px;
}

.project-it7{
    float: left;
    background-image: url(images/Type\ C.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 24%;
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #030201;
    text-align: right;
    border-radius: 5px;
}

.project-it8{
    float: left;
    background-image: url(images/pic6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 24%;
    height: 250px;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.footer{
    background-color: #212129;
    height: 300px;
    color: aliceblue;
    margin-top: 20px;
}

.footer-iteam{
    margin-top: 10px;
    padding-top: 40px;
    float: left;
    width: 18%;
    margin-left: 100px;
}

.link{
    display: block;
    text-decoration: none;
    color: #F85606;
    margin-top: 20px;
}

.hhtag{
    
}

.pptag{
    margin-top: 20px;
}
